# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv/
env/
venv/

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
